:root {
  /* colors */
  --primary-color: #007bff;
  --secondary-color: #6c757d;
  --success-color: #28a745;
  --info-color: #17a2b8;
  --warning-color: #ffc107;
  --danger-color: #ff0000;
  --light-color: #f8f9fa;
  --dark-color: #343a40;
  --body-color: #212529;
  --text-color: #212529;
  --dark: #000;
  --grey100: #d9d9d9;
  --grey200: #bfbfbf;
  --grey300: #a6a6a6;
  --grey400: #8c8c8c;
  --grey500: #737373;
  --grey600: #595959;
  --grey700: #404040;

  /* weight */
  --thin: 200;
  --light: 300;
  --normal: 400;
  --medium: 500;
  --semi-bold: 600;
  --bold: 700;
  --extra-bold: 800;
  --font-black: 900;

  /* spacing */
  --spacing-1: 0.25rem;
  --spacing-2: 0.5rem;
  --spacing-3: 0.75rem;
  --spacing-4: 1rem;
  --spacing-5: 1.25rem;
  --spacing-6: 1.5rem;
  --spacing-7: 1.75rem;
  --spacing-8: 2rem;
  --spacing-9: 2.25rem;
  --spacing-10: 2.5rem;
  --spacing-11: 2.75rem;
  --spacing-12: 3rem;
}
