* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #fff;
}

a {
  text-decoration: none;
  color: #333;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: "Poppins", sans-serif;
}

header {
  padding: 20px 0;
}

.container {
  width: 90%;
  margin: 0 auto;
}

/* Added new styles for improved design */
.flex {
  display: flex; /* Enable flexbox layout */
}

.justify-between {
  justify-content: space-between; /* Align items horizontally */
}

.items-center {
  align-items: center; /* Align items vertically */
}

.btn {
  /* Basic button styling */
  font-family: "Inter", sans-serif;
  display: inline-block;
  padding: 10px 15px;
  color: #fff;

  cursor: pointer;
  text-align: center;
}

.btn-secondary {
  /* Optional styling for "Sign In" button */
  background-color: #000000;
  font-size: 12px;
  font-weight: 400;
  border-color: #007bff;
}

.logo {
          alt: "Memobox logo";
          width: 150px;
          height: 55px;
}

.back_icon {
        alt: "back icon";
        width: 10px;
        height: 10px;
        display: inline;

}

.ubuntu-light {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  padding-top: 20px;
  padding-right: 25px;
  padding-left: 25px;
  padding-bottom: 20px;
}

.date{
  display: inline;
  
}
.date :hover {
  background-color: #000000;
  color: #fff;
}
.months {
  margin-top: 30px;
  margin-left: 120px;
}
.ubuntu-mono-bold {
  font-family: "Ubuntu Mono", monospace;
  font-weight: 700;
  font-style: normal;
}
.row8 {
  width: 66%;
}
.row4 {
  width: 34%;
  margin-left: -100px;
}
.status{
  width: 10px;
  height: 10px;
  margin-right: 14px;
}
.trend_news {
  background-image: url("../assets/images/news.png");
  background-repeat: no-repeat;
  width: 1200px;
  height: 600px;
  margin-top: 20px;
  margin-right: 0px;

}
#status{
  font-size: 14px; 
   margin-left: 30px;
   text-align: bottom;
}
#big_title {
  text-align: left; 
  color: #fff;
  font-size: 32px; 
  width: 460px ; 
  margin-top: 30px;
  margin-left: 20px;
}
.small_news{
  margin-left: -70px;
  margin-top: 30px;
  width: 450px;
}
.small{
  width: 100px;
  height: 100px;
  margin-right: 30px;
  float: left;
}
.news_date{
  margin-top: 620px;
}
hr {
  height: 2px;
  color: #828282;
  background-color: #828282;
}
.news_date_details{
  margin-bottom: 200px;
}